.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__group test
      %ul.main-header__left-box__menber
        %li.main-header__left-box__menber__list
          list :
        %li.main-header__left-b0x__menber__name
          name
    = link_to "#", class:"main-header__edit-btn" do
      Edit
  .main-contents
  .main-form