.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__name
        name
      %ul.side-header__box__menu
        %li.side-header__box__edit-use
          ed
        %li.side-header__box__new-group
          ne
  .groups
